:root{
    --main-title-color: #FFFFFF;
    --secondary-whit-color: rgba(255, 255, 255, 0.6);
    --second-title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --main-background-color: #2F303A;
    --second-background-color: #E5E5E5;
    --third-background-color: #F5F4FA;
    --four-bcg-color: #EEEEEE;
    --black-color: #000000;
    --hero-button-hover: #188ce8;
    --hero-bg-image: #C4C4C4;
    --icon-color:#AFB1B8;
    --bg-color-icon: rgba(255, 255, 255, .1)
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-background-color);
    background-color: var(--main-title-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* -----------------------------HEADER------------------------------ */

.header-nav .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-connect .link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 80px;

    
}

.header-nav {
    display: block;
    
}

.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-color);
}

.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.header-link {
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    font-weight: 500px;
    color: var(--second-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-list,
.header-site-nav {
    display: flex;
}

.auth-nav-icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-connect {
    margin-left: auto;
}

.header-tell {
    margin-left: 50px;
}

.header-mail, .header-tell {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-mail:hover,
.header-tell:hover,
.header-mail:focus,
.header-tell:focus {
    color: var(--accent-color);
}

/* -----------------------------HERO------------------------------ */


.hero {
    background-color: var(--main-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgimage.jpg);
    background-color: var(--hero-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}


.hero-btn {
    min-width: 200px;
    height: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.8;
    display: inline-block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--hero-button-hover);
}

.icon-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--third-background-color);
}

.section-title {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--second-title-color);

    margin-bottom: 10px;
}

.section-text {
    line-height: 1.7;
    color: var(--text-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-about {
    padding-top: 0;
}

.section-team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team-list {
    display: flex;
}

.section-team-list .section-team-item {
    background-color: var(--main-title-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    flex-wrap: wrap;
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    text-align: center;
}

.team-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
    color: var(--main-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-list {
    display: flex;
    padding-top: 16px;
    padding-right: 32px;
    padding-left: 32px;
}

.social-icon {
    width: 20px;
    height: 20px;
    color: #AFB1B8;
    fill: currentColor;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.section-team {
    background-color: var(--third-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--second-title-color);

    margin-top: 30px;
}

.section-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--text-color);

    margin-top: 10px;
    margin-bottom: 30px;
    }

.about-list {
    display: flex;
    margin-left: -30px;
}

.about-link > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-link {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
}

.about-list .about-link:not(:first-child) {
    margin-left: 30px;
}

.about {
    padding-bottom: 94px;
}

.section-list {
    display: flex;
}

.section-list .section-item {
    width: 270px;
}

.section-list .section-item:not(:last-child) {
    margin-right: 30px;
}

.section-item:not(:last-child) {
    margin-right: 30px;
}

.klients {
    padding: 94px 215px 94px 215px;
}

.klients-list {
    display: flex;

}

.klints-flex {
    display: flex;
    justify-content: center;
}

.klient-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    box-sizing: inherit;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
}

.klients-item:not(:last-child) {
    margin-right: 33px;
}

.klient-link:hover,
.klient-link:focus {

    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* -----------------------------FOOTER------------------------------ */

.footer {
    background-color: var(--main-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

address {
    display: block;
    margin-top: 20px;
}

.footer-list .footer-item:not(:last-child) {

    margin-bottom: 9px;
}

.footer-logo {
    color: var(--main-title-color);
}

.footer-address {
    font-style: normal;
    line-height: 1.7;
    color: var(--main-title-color);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}


.footer-contact {
    font-style: normal;
    line-height: 1.7;
    color: var(--secondary-whit-color);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}


/* --------------------------PORTFOLIO------------------------------ */

.header {
    border-bottom: 1px solid #ececec;
}

.port-section {
    background-color: var(--main-title-color);
}

.border {
    border: none;
}

.port-all {
    background-color: var(--four-bcg-color);
}

.port-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--second-title-color);
    background-color: var(--third-background-color);
    padding: 6px 22px;
    margin-right: 8px;
    border-radius: 5px;
  
}

.port-btn:hover,
.port-btn:focus {
    color: var(--main-title-color);
    background-color: var(--accent-color);
}

.port-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    margin-bottom: 4px;
}

.port-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}

.current {
    color: var(--accent-color);
}

.port-section-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.port-img-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -30px;
    margin-bottom: -30px;
    background: #FFFFFF;
}

.port-img-list .port-img {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px 15px;
}

.project-link {
    display: block;
}

.port-img {
    width: 370px;
    margin-right: 30px;
}

.port-img:nth-child(3n) {
    margin-right: 0;
}

.project-link:hover,
.project-link:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.do-title {

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 20px;
}

.do-list {
    display: flex;
    width: 206px;
}

.do-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bg-color-icon);

}


.do-item:not(:last-child) {
    margin-right: 10px;
}

.do-link:hover,
.do-link:focus {
    background-color: var(--accent-color);
}

.do-icon {
    fill: var(--main-title-color);
}

.do-icon:hover {
    fill: var(--main-title-color);
}

.footer-adress {
    margin-right: 70px;
}

.footer-flex {
    display: flex;
}
