.list {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    text-align: center;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--second-background-color);
    background-color: var(--main-title-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}