:root {
    --main-title-color: #FFFFFF;
    --secondary-whit-color: rgba(255, 255, 255, 0.6);
    --second-title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --main-background-color: #2F303A;
    --second-background-color: #E5E5E5;
    --third-background-color: #F5F4FA;
    --four-bcg-color: #EEEEEE;
    --black-color: #000000;
    --hero-button-hover: #188ce8;
    --hero-bg-image: #C4C4C4;
    --icon-color: #AFB1B8;
    --bg-color-icon: rgba(255, 255, 255, .1);
    --bg-overlay-color: rgba(33, 150, 243, 0.9);
    --bg-backdrop: rgba(255, 255, 255, 1);
}